/*
  disable the delete message action
*/
.sendbird-message-item-menu__list__menu-item.menu-item-delete {
  display: none;
}
.sendbird-message-item-menu__list__menu-item.menu-item-edit {
  display: none;
}
.sendbird-fileviewer__header__right__actions__delete {
  display: none;
}
.sendbird-msg-hoc:has(.sendbird-thumbnail-message-item-body) .sendbird-context-menu {
  display: none !important;
}
.sendbird-msg-hoc:has(.sendbird-file-message-item-body) .sendbird-context-menu {
  display: none !important;
}


/**
  Channel settings disable edit button
*/
.sendbird-channel-profile__edit {
  display: none;
}

/**
  Channel settings disable invite button
*/
.sendbird-channel-settings-member-list .sendbird-channel-settings-accordion__footer {
  display: none;
}

/**
  Channel settings disable moderation operations
*/
.sendbird-user-list-item--small__action {
  display: none !important;
}
.sendbird-channel-settings__operators-list {
  display: none;
}
.sendbird-channel-settings__muted-members-list {
  display: none;
}
.sendbird-channel-settings__banned-members-list {
  display: none;
}
.sendbird-channel-settings__freeze {
  display: none;
}
