#sendbird-chatgpt-demo {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

#sendbird-chatgpt-demo__channel-list {
  width: 360px;
}

#sendbird-chatgpt-demo__channel {
  width: 100%;
}

#sendbird-chatgpt-demo__settings {
  width: 360px;
}
